 

<div class="container">


    <div class="row">

        <div class="card-deck">
            <div class="card col-lg-3 bg-link">
                <a routerLink="fundtransfer"(click)="fundTransfer()">
                <h3>Fund Transfer</h3>
            </a>
            </div>


            <div class="card col-lg-3 bg-link">
                <a routerLink="deposit" (click)="deposit()">
                <h3>Deposit</h3>
            </a>
            </div>

            <div class="card col-lg-3 bg-link">
                <a routerLink="withdrawal" (click)="withdrawal()">
                    <h3>With-drawal</h3>
                </a>
                </div>
                <div class="card col-lg-3 bg-link">
                  <a routerLink="exit" (click)="exit()">
                          <h3>Exit</h3>
                        </a>
                </div>

        </div>
    </div>

